
#naroci{
    text-align: center;
    padding-bottom:80px;
    margin-top:30px;
}

body{
    font-family:Comic sans MS;
}

.row{
    padding-left:0px;
    background-color:bisque;
    padding-right:0px;
}


.navbar-brand{
    font-size:35px;
    padding-left:0px;
    
        
}

.nav{
    font-size:22px;
    padding-left:0px;
}

.col-md-7{
    padding-left:0px;
    
}

.tampon{
    height: 50px;
}

.slikce{
    height: 300px;
    width:300px;
}

.carousel{            /*carousel ne skače gor in dol zaradi različne višine slik */
    max-height:725px;
    min-height:725px;
}

